html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    vertical-align:baseline;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

em {
    font-style: normal;
}

.button-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: left;
  margin-top: 10px;
}

.button {
  padding: 5px 10px;
  border: 1px solid black;
  margin-right: 20px;
}

.user-container {
  border: 1px solid black;
  padding: 10px 20px;
  margin: 10px;
}